.git
.venv
data/
reports/
nyc_taxi_pipeline/
SQL/
scripts/A_snowflake_config.py
scripts/B_load_data.py
scripts/C_data_analysis.py
scripts/D_transformations.py
scripts/E_generate_report.py
scripts/F_dbt_transformations.py
streamlit_dashboard.py
*.md
uv.lock
.env
__pycache__/
*.pyc
